.layout-flex {
  display: flex;
  align-content: flex-end;
  align-items: center;
  pointer-events: none;
}

.layout-flex * {
  pointer-events: all;
}

.layout-column {
  transition: width .5s ease-in;
  height: 100%;
  flex-grow: 1;
}

.layout-column-placeholder {
  @extend .layout-column;
  pointer-events: none;
}

.layout-full-size {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.column-is-hidden {
  width: 0;
  flex-grow: 0;
}