body {
    margin: 0;
}

.node text {
    font-size: 15px;
    font-family: sans-serif;
}

.node:hover circle {
    opacity: 0.8;
}

.graph {
    margin: auto;
    width: 1000px;
    display: block;
}