body {
    margin: 0;
    font-family: sans-serif;
}

.node text {
    font-size: 15px;
}

.node:hover circle {
    opacity: 0.8;
}

.graph {
    margin: auto;
    width: 1000px;
    display: block;
}

.property path {
    fill: none;
    stroke-width: 2px;
    stroke: rgba(183, 183, 183, 0.100);
}

.property text {
    dominant-baseline: middle;
}