body {
    margin: 0;
    font-family: sans-serif;
    color: #626262;
    background-color: #222021;
}

text {
    fill: #626262;
}

.node text {
    fill: #fff;
    font-size: 15px;
}

.node circle {
    fill: #4fa5b2;
}

.node:hover circle {
    opacity: 0.8;
}

.graph {
    margin: auto;
    width: 1000px;
    display: block;
}

.property path {
    fill: none;
    stroke-width: 2px;
    stroke: #333333;
}

.property text {
    dominant-baseline: middle;
}