.node-container {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  @include display(flex);
  @include align-items(center);
  @include flex-direction(column);
  @include justify-content(center);
  height: 0;
  width: 0;
}

.node {
  @include flex-shrink(0);
}

.node > .label {
  text-align: left;
  color: $base-font-color;
  margin-top: -24px;
}

.node > .circle {
  background-color: $blue;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: auto;
}

.node > .inner-node {
  max-width: 100px;
}